# Mark png files as binary
*.png binary

# Support for Markdown in GitHub languages
*.md diff=markdown
*.md linguist-language=Markdown
*.md linguist-detectable=true
README.md linguist-detectable=false

# Ignore theme files for git languages
papermod/** linguist-vendored

# Treat minified/compiled assets as generated
*.min.js linguist-generated=true
*.en.js linguist-generated=true
*.min.css linguist-generated=true

# Line end standardization
* text=auto
*.md text eol=lf

# Ignore generated public files (zola build)
public/** linguist-generated=true
public/** linguist-detectable=false
