# Mark png files as binary
*.png binary

# Support for Markdown in GitHub languages
*.md diff=markdown
*.md linguist-language=Markdown
*.md linguist-detectable=true

# Ignore theme files for git languages
papermod/** linguist-vendored

# Treat minified/compiled assets as generated
*.min.js linguist-generated
*.en.js linguist-generated
*.min.css linguist-generated

# Line end standardization
* text=auto
*.md text eol=lf
